body {
  background-color: #C7D3D4FF;
}

.title {
  font-size: 5rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.title_subsection {
  font-size: 2rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}



.notes {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;

  min-height: calc(100vh - 500px);
  /* Use the calc() function to set the height of your wrapper equal to the
  height of the viewport (display), minus a height that will always show the footer. */
  /* Soruce: http://martinpennock.com/blog/force-footer-bottom-page-css/ */
  /* Exa/mple:
  height: 100vh; means the height of this element is equal to 100% of the viewport height.
  example: when the height: 50vh; and If your screen height is 1000px, your element height will be equal to 500px (50% of 1000px). */
}



.notes_set {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  border-radius: 20%;
  width: 15.625rem;
  height: 15rem;
  border: 0.375rem solid black;
  color: black;
  background-color: #00239CFF;
  transition-duration: 0.4s;
  cursor: pointer;
}

.notes_set:hover {
  color: red;
  background-color: #C7D3D4FF;
}

.notes_set:active {
  color: red;
  background-color: #C7D3D4FF;
  transform: translateY(0.375rem);
}





/* This class is for "butoon/image" method 2 */
/* The issue witht his method, we can not make the image has round corners
because it is added to the div from a css class not added to an image element  */
.animal1 {
  background-image: url('lion.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13rem;
}
.animal2 {
  background-image: url('alligator.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}

.animal3 {
  background-image: url('camel.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}

.animal4 {
  background-image: url('cat.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}

.animal5 {
  background-image: url('cow.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}


.animal6 {
  background-image: url('dog.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}

.animal7 {
  background-image: url('dolphin.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}

.animal8 {
  background-image: url('eagle.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}

.animal9 {
  background-image: url('elephant.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}

.animal10 {
  background-image: url('goat.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}

.animal11 {
  background-image: url('gorilla.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}

.animal12 {
  background-image: url('horse.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}

.animal13 {
  background-image: url('monkey.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}


.animal14 {
  background-image: url('rooster.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}

.animal15 {
  background-image: url('wildbeast.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11rem;
}



.description {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem
}








.footer {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
  height: 10px;

}
